* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background: lightcyan;
}
.container {
  height: 40rem;
  width: 60rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 1.5rem, black;
}
.images img {
  height: 100%;
  position: absolute;
}
.buttons span {
  font-size: 3rem;
  padding: 1.5rem;
  background: gray;
  color: black;
  border-radius: 0.5rem;
  cursor: pointer;
  position: absolute;
  top: 40%;
}
.buttons span:nth-child(1) {
  left: -7rem;
}
.buttons span:nth-child(2) {
  right: -18rem;
}
.dots {
  position: absolute;
  bottom: -6rem;
  left: 40%;
}
.dot {
  display: inline-block;
  padding: 1.2rem;
  background: lightblue;
  border-radius: 3rem;
  margin: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.buttons span:hover.active {
  background: whitesmoke;
}
.dot:hover {
  background: whitesmoke;
}
